* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  section {
    margin: 20px;
    background-color: rgb(208, 233, 183);
  }
  
  ul {
    padding-left: 50px;
  }
  
  #yellow-box {
    top: 10px;
    background-color: orange;
    width: 5em;
    height: 5em;
  
    border-radius: 8px, 8px, 8px, 8px;
  }
  
  #loginPage {
    border: 3px solid black;
    height: 150px;
    width: 300px;
  }
  
  #registerPage {
    border: 3px solid rgb(155, 14, 14);
    height: 280px;
    width: 435px;
  }
  #register-heading {
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  #fName {
    font-weight: bold;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* p,div,section,article{
      color: orange;
      margin:20px; 
      
  } */
  /* IDs for one specific 
  thing only, Class can be the same on multiple things. 👌 */
  /* td, th { 
      border:1px solid red;
      
  } */
