/*body,h1,p,h3*/
/* Apply a consistent style reset */
body, h1, p, h3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height:100vh;
    margin:0;
}
/* .imageBackground{
    background-image: url("/Sba307Repo/images/grey-background-music-notes.png");
    height:100vh;
    background-position: center;
    background-size: cover;
        background-repeat: no-repeat;
    background-attachment: fixed;
    
    width:100vw; 
}*/

/* Set a single color background */
body {
    background-image: linear-gradient(to right, rgb(51, 30, 5),rgb(170, 113, 8), rgb(224, 183, 130)) ; /* brown to beigt background */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Style the container word CONGRATULATIONS only */
.success-container {
    border: 2px solid white;
    display:flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;    
    text-align: center;
    
}

/* Style the Congratulations heading */
h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #533007;
}

p{
    color: rgb(77, 42, 10);
    font-weight:600
}

.success-logout{
    background-color:rgb(211, 175, 120);
}
.success-logout:hover{
    
    background-color:#4e2f08;
}

button {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #bfc9d3; /* Blue button */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}