/* all styling for elements starts at 0*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: radial-gradient(white,rgb(187, 146, 92),rgb(141, 82, 5),rgb(58, 23, 3)) ; */
    background-image: radial-gradient(circle, rgb(236, 236, 233), orange); 
    /* background-color: chocolate; */
    /* background:chocolate; */
}

.barsOfMusic-message{
    display:flex;
    justify-content:center;
    border:2px solid rgb(12, 1, 1);
    border-radius:5px;
    width: 83.15em;
    margin-left:100px;
}
/*initial border behind TG APP title heading*/
/* .loginbackContainer{
    border: 2px solid black;
    width: 245px;
    height: 100px;
    border-radius:5px;
    display:flex;
    background-color: white;
} */
.loginHeading{
   
    border:5px dashed rgb(19, 18, 16);
    background-color: orange;
    border-radius: 5px;
    display:flex;
    width: 10em;
    height: 2em;
    justify-content: center;
    align-items:center;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position:relative;
    left:13em;
}
/* Login Container styling */
/*.login-container2 {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%; /* full width of container on devices as Default*/
   /* max-width: 400px; max width for large screen devices
    
/*}*/

h1{
    margin-left:8.5em;;
}

.moreMusicNPic-container{
    border: 8px dashed rgba(80, 38, 4, 0.836);
    border-radius: 4px;
    width: 30em;
    display:flex;
    padding: 10px;
    margin:5px;
    align-items:center;
    position:relative;
    left:35em;
    
}
.moreMusicText{
    
    border: 3px solid rgb(59, 33, 3);
    border-radius:8px;
}

.musicNotePic{
    padding:10px;
    margin-left:5px;
    border: 2px solid rgb(238, 226, 226);
    border-radius: 5px;
    background-color: rgb(226, 222, 222);;
}

.moreMusicText:hover{
    background-color: burlywood;
    color: chocolate;

}

.logOff{
background-color:bisque;
width:5em;;
}

.logOff:hover {
    background-color:rgb(150, 88, 13);

}

.topPage{
    background-color:bisque;
    width:5em;;
    }
    
    .topPage:hover {
        background-color:rgb(150, 88, 13);
    }
